/* здесь используйте глобальные селекторы img, body, html и так далее */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family-montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-black;
}

main {
  flex: 1 0 auto;
}

footer, header {
  flex-shrink: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.button {
  padding: 0;
  width: 113px;
  min-height: 40px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-white;
  background-color: $color-base-primary;

  border: none;
  border-radius: 4px;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;


  &:hover {
    background-color: $color-alt-primary-lighter;
  }

  &:active {
    background-color: $color-alt-primary-darker;
  }

  &:disabled {
    background-color: $color-base-gray;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid $color-alt-primary-darker;
    outline-offset: -2px;
    z-index: 50;
  }
}
