.footer__nav {
  @media (min-width: $tablet-width) {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "store media contacts";
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    margin-left: 38px;
  }
}

.footer__nav-wrapper {
  margin: 0 auto;
  padding: 0 20px 8px;
  border-bottom: 1px solid #e0ebff;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 223px;
    border: none;
  }

  &--store {
    grid-area: store;
  }

  &--media {
    grid-area: media;
  }

  &--contacts {
    padding-bottom: 4px;
    grid-area: contacts;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.footer__nav-title {
  margin: 0;
  padding: 20px 0;
  line-height: 20px;
  color: $color-base-primary;

  font: {
    family: $font-family-montserrat;
    size: 14px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 17px;
  }
}

.footer__nav-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__nav-item {
  padding-bottom: 20px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.3s;

  font: {
    family: $font-family-montserrat;
    size: 12px;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }

  &:hover {
    color: $color-base-black;
  }
}

.footer__nav-link {
  display: block;
  padding-top: 12px;
  text-decoration: none;
  text-align: left;
  color: $color-base-black;

  &:last-of-type {
    padding-bottom: 20px;
  }

  &:hover {
    color: $color-alt-primary-lighter;
  }

  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-lighter;
  }

  &:disabled {
    color: $color-alt-light-grey;
  }


  @media (min-width: $tablet-width) {
    width: 223px;

    &-link {
      margin-left: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 317px;

    &-link {
      margin-left: 0;
    }
  }
}

.footer__nav-item--address {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    span {
      padding-bottom: 0;
      width: 204px;
      line-height: 20px;

      font: {
        family: $font-family-montserrat;
        size: 14px;
      }

    @media (min-width: $tablet-width) {
      padding-bottom: 15px;
      width: 100%;
    }
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.footer__nav-icon {
  width: 20px;
  height: 20px;
  fill: $color-base-primary;
}

.footer__nav-phone {
  text-decoration: none;
  color: $color-base-black;
}
