.header {
  padding: 0;
  min-width: 320px;
}

.header__wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    margin-bottom: 12px;
    justify-content: space-between;
  }
}

.header__logo-wrapper {
  margin-right: auto;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;
  color: inherit;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.header__logo-link {
  margin-left: 20px;
  min-height: 60px;
  display: flex;
  text-decoration: none;
  color: $color-base-black;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-right: 54px;
    padding-top: 22px;
    height: 80px;
    width: 120px;
    position: static;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 142px;
    padding-top: 0;
    width: 316px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo-image {
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.header__logo-title {
  margin: 0;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    margin-left: 20px;
    width: 126px;
    height: 33px;
    display: block;
  }
}

.header-nav__site-list {
  width: 100%;
  order: 2;

  @media (min-width: $tablet-width) {
    width: 399px;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    width: 559px;
  }
}
