.social-list {
  @include list-reset;
  margin-right: 20px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    width: 140px;
  }

}

.social-list__link {
  width: 22px;
  height: 22px;

  fill: $color-base-gray;
  transition: 0.3s;

  &:hover {
    fill: $color-base-primary;
  }
}

.social-list__link-vk,
.social-list__link-ok,
.social-list__link-pinterest {
  position: absolute;
  content: "";
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $color-base-gray;
}

.social-list__link-vk,
.social-list__link-ok {
  width: 20px;
  height: 20px;
}

.social-list__link-pinterest {
  width: 22px;
  height: 22px;
}

.social-list__link-ok {
  mask-image: url(../../images/icons/stack.svg#icon-ok);
}

.social-list__link-vk {
  mask-image: url(../../images/icons/stack.svg#icon-vk);
}

.social-list__link-pinterest {
  mask-image: url(../../images/icons/stack.svg#icon-pinterest);
}

